<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="calculator-section">
  <form  class="myform" [formGroup]="myForm">
    <div>
        <input id="calcNum" name="number" formControlName="number" required>
    </div>
    <button id="clearSubmit" >Очистить</button>
    <div class="num-row-cont">
      <div class="num-row"> <button id="one" name="num">1</button><button id="two" name="num">2</button><button id="free" name="num">3</button>   </div>
      <div> <button id="four" name="num">4</button><button id="five" name="num">5</button><button id="six" name="num">6</button>   </div>
      <div> <button id="seven" name="num">7</button><button id="eight" name="num">8</button><button id="nine" name="num">9</button>   </div>
      <div> <button id="addSubmit" >+</button><button id="zero" name="num">0</button><button id="enterSubmit" >=</button>   </div>
    </div>
    </form>
</div>